/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-size: 21px;
	max-width: 100vw;
}

html {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

@media (prefers-reduced-motion) {
	html {
		scroll-behavior: auto;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	max-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
	ul li::marker {
		color: #fff !important;
	}
}

svg {
	max-height: 90vh;
	margin-left: auto;
	margin-right: auto;
}

/*Select element */
.select-container {
	--item-is-active-bg: theme(colors.goldenrod);
	--item-is-active-color: theme(colors.midnightblue-dark);
	--item-hover-bg: theme(colors.goldenrod-300);
	--item-hover-color: theme(colors.midnightblue);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.katex-no-margin .katex-display {
	margin: 0 0 0.5rem;
}

/* .dark .answer-container svg {
	background-color: #a2a09e;
} */
